.table-container {
  margin: 30px;
  width: 80%;

  table {
    .delete-button {
      margin-left: 10px;
    }
  }

  .add-candidate-container {
    margin-top: 20px;
    form {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 10px;

      .availability {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
      }
    }

    .edit-button {
      margin-right: 10px;
    }
  }
}
